## Importar librerías

In [55]:
import os
import pandas as pd
import matplotlib.pyplot as plt

import numpy as np

## Carga de datos

In [56]:
df=pd.read_csv('Estimaciones.csv',encoding='latin-1',delimiter=';')

In [57]:
df.head(25)

,Cultivo,Campaña,Provincia,Departamento,idProvincia,idDepartamento,Sup. Sembrada,Sup. Cosechada,Producción,Rendimiento
0,Soja 1ra,2000/01,SANTA FE,GENERAL LOPEZ,82,42,338100,338100,1078500,3190
1,Soja 1ra,2001/02,SANTA FE,GENERAL LOPEZ,82,42,380000,376500,1300000,3453
2,Soja 1ra,2002/03,SANTA FE,GENERAL LOPEZ,82,42,459000,447000,1631550,3650
3,Soja 1ra,2003/04,SANTA FE,GENERAL LOPEZ,82,42,541800,541800,1757104,3243
4,Soja 1ra,2004/05,SANTA FE,GENERAL LOPEZ,82,42,515173,513052,1959859,3820
5,Soja 1ra,2005/06,SANTA FE,GENERAL LOPEZ,82,42,525800,518492,1976442,3812
6,Soja 1ra,2006/07,SANTA FE,GENERAL LOPEZ,82,42,518800,505405,1917029,3793
7,Soja 1ra,2007/08,SANTA FE,GENERAL LOPEZ,82,42,516150,516150,2092432,4054
8,Soja 1ra,2008/09,SANTA FE,GENERAL LOPEZ,82,42,647559,647559,1748409,2700
9,Soja 1ra,2009/10,SANTA FE,GENERAL LOPEZ,82,42,581500,581500,2151550,3700
10,Soja 1ra,2010/11,SANTA FE,GENERAL LOPEZ,82,42,582000,582000,2095200,3600
11,Soja 1ra,2011/12,SANTA FE,GENERAL LOPEZ,82,42,583000,583000,1690700,2900
12,Soja 1ra,2012/13,SANTA FE,GENERAL LOPEZ,82,42,510100,506600,1975740,3900
13,Soja 1ra,2013/14,SANTA FE,GENERAL LOPEZ,82,42,525000,525000,1522500,2900
14,Soja 1ra,2014/15,SANTA FE,GENERAL LOPEZ,82,42,452060,452060,1898652,4200
15,Soja 1ra,2015/16,SANTA FE,GENERAL LOPEZ,82,42,522253,485168,1620461,3340
16,Soja 1ra,2016/17,SANTA FE,GENERAL LOPEZ,82,42,310920,303920,1154896,3800
17,Soja 1ra,2017/18,SANTA FE,GENERAL LOPEZ,82,42,447660,447660,1432512,3200
18,Soja 1ra,2018/19,SANTA FE,GENERAL LOPEZ,82,42,398000,398000,1671600,4200
19,Soja 1ra,2019/20,SANTA FE,GENERAL LOPEZ,82,42,395000,395000,1580000,4000
20,Soja 1ra,2020/21,SANTA FE,GENERAL LOPEZ,82,42,382000,382000,1337000,3500
21,Soja 1ra,2021/22,SANTA FE,GENERAL LOPEZ,82,42,355000,355000,1384500,3900
22,Soja 1ra,2022/23,SANTA FE,GENERAL LOPEZ,82,42,380000,380000,608000,1600
23,Soja 1ra,2023/24,SANTA FE,GENERAL LOPEZ,82,42,418397,418397,1589909,3800

In [60]:
print(df['Sup. Cosechada'].sum())
print(df['Sup. Sembrada'].sum())
print('Promedio Cosechado/Sembrado' , (df['Sup. Cosechada'].sum()/ df['Sup. Sembrada'].sum())*100)
# dato.head(5)

print('Promedio rinde gral' , (df['Producción'].sum()/ df['Sup. Sembrada'].sum())*100)
df.describe()

11199363
11285272
Promedio Cosechado/Sembrado 99.23875117941331
Promedio rinde gral 347.1298254929079

,idProvincia,idDepartamento,Sup. Sembrada,Sup. Cosechada,Producción,Rendimiento
count,24.0,24.0,24.000000,24.000000,2.400000e+01,24.000000
mean,82.0,42.0,470219.666667,466640.125000,1.632273e+06,3510.625000
std,0.0,0.0,89865.180190,89431.267503,3.685930e+05,576.430456
min,82.0,42.0,310920.000000,303920.000000,6.080000e+05,1600.000000
25%,82.0,42.0,391750.000000,391750.000000,1.420509e+06,3232.250000
50%,82.0,42.0,484550.000000,468614.000000,1.651575e+06,3675.000000
75%,82.0,42.0,525200.000000,520119.000000,1.927736e+06,3840.000000
max,82.0,42.0,647559.000000,647559.000000,2.151550e+06,4200.000000

In [68]:

dato = pd.DataFrame()
dato['Campaña']=df['Campaña']
dato['data'] =(df['Sup. Cosechada']/df['Sup. Sembrada'])

dato["Rinde1"]=((df['Producción']/ df['Sup. Cosechada'])*1000).round()
dato["Rinde2"]=((df['Producción']/ df['Sup. Sembrada'])*1000).round()
# 
PromCosechaSembrado = dato
PromCosechaSembrado['Campaña'] =  df['Campaña']
print(dato.describe())
PromCosechaSembrado.head(50)

            data       Rinde1       Rinde2
count  24.000000    24.000000    24.000000
mean    0.992518  3510.625000  3483.791667
std     0.016013   576.430456   574.913300
min     0.928990  1600.000000  1600.000000
25%     0.992551  3232.250000  3197.500000
50%     1.000000  3675.000000  3647.500000
75%     1.000000  3840.000000  3821.250000
max     1.000000  4200.000000  4200.000000

    Campaña      data  Rinde1  Rinde2
0   2000/01  1.000000  3190.0  3190.0
1   2001/02  0.990789  3453.0  3421.0
2   2002/03  0.973856  3650.0  3555.0
3   2003/04  1.000000  3243.0  3243.0
4   2004/05  0.995883  3820.0  3804.0
5   2005/06  0.986101  3812.0  3759.0
6   2006/07  0.974181  3793.0  3695.0
7   2007/08  1.000000  4054.0  4054.0
8   2008/09  1.000000  2700.0  2700.0
9   2009/10  1.000000  3700.0  3700.0
10  2010/11  1.000000  3600.0  3600.0
11  2011/12  1.000000  2900.0  2900.0
12  2012/13  0.993139  3900.0  3873.0
13  2013/14  1.000000  2900.0  2900.0
14  2014/15  1.000000  4200.0  4200.0
15  2015/16  0.928990  3340.0  3103.0
16  2016/17  0.977486  3800.0  3714.0
17  2017/18  1.000000  3200.0  3200.0
18  2018/19  1.000000  4200.0  4200.0
19  2019/20  1.000000  4000.0  4000.0
20  2020/21  1.000000  3500.0  3500.0
21  2021/22  1.000000  3900.0  3900.0
22  2022/23  1.000000  1600.0  1600.0
23  2023/24  1.000000  3800.0  3800.0